workflow.json
{
  "id": "f1e2d3c4-b5a6-7890-fedc-ba9876543210",
  "name": "AI Email Auto-Responder",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Email Read (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [240, 300],
      "credentials": {
        "imap": {
          "id": "1",
          "name": "IMAP Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.from.address }}",
              "rightValue": "saidattagowthu@gmail.com",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-002",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Re: AI Auto-Reply:",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Loop Prevention",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-001",
              "name": "originalSender",
              "value": "={{ $json.from.address }}",
              "type": "string"
            },
            {
              "id": "assign-002",
              "name": "originalSubject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "assign-003",
              "name": "originalMessageId",
              "value": "={{ $json.messageId }}",
              "type": "string"
            },
            {
              "id": "assign-004",
              "name": "emailBody",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Format Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "llama3:8b",
          "prompt": "=You are a professional and helpful email assistant. A new email has arrived. Please write a concise and relevant reply.\n\nSender: {{ $('Format Prompt').item.json.originalSender }}\nSubject: {{ $('Format Prompt').item.json.originalSubject }}\nBody:\n{{ $('Format Prompt').item.json.emailBody }}\n\nWrite a helpful reply that directly addresses the content of the email. Provide only the reply body without any greeting or signature.",
          "stream": false
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 200]
    },
    {
      "parameters": {
        "fromEmail": "saidattagowthu@gmail.com",
        "toEmail": "={{ $('Format Prompt').item.json.originalSender }}",
        "to": "={{ $('Format Prompt').item.json.originalSender }}",
        "subject": "=Re: AI Auto-Reply: {{ $('Format Prompt').item.json.originalSubject }}",
        "emailFormat": "text",
        "text": "={{ $node[\"HTTP Request\"].json.response }}",
        "options": {
          "appendAttribution": false,
          "messageId": "={{ $('Format Prompt').item.json.originalMessageId }}"
        }
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 200],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Email Read (IMAP)": {
      "main": [
        [
          {
            "node": "Loop Prevention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Prevention": {
      "main": [
        [
          {
            "node": "Format Prompt",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "f1e2d3c4-b5a6-7890-fedc-ba9876543210"
}
